body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f6fa;
  color: #333;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  color: black;
  font-family: cursive;
}

#RecievedCatFacts {
  background-color:#FC8EAC;
}

#TrendingCatFacts {
  background-color: #FC8EAC;
}

h1 {
  margin: 10px 0;
  padding: 20px;
  text-align: center;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}


section {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  flex: 1 1 300px;
  min-width: 280px;
}

aside {
  background-color: #FC8EAC;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  flex: 0 0 250px;
  height: auto;
}

#PostCatFacts {
  background-color:#FC8EAC;
}

button {
  display: block;
  background-color: #FCD3DE;
  border: none;
  border-radius: 10px;
  color: #000;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  height: 50px;
  margin: 10px 0;
}

a {
  text-align: center;
  background-color: #FCD3DE;
  border: none;
  border-radius: 10px;
  color: #000;
  cursor: pointer;
  width: 100%;
  margin: 10px 0;
}

a:hover {
  background-color: #E75480;
  transform: scale(1.03);
}
button:hover {
  background-color: #E75480;
  transform: scale(1.03);
}


#message {
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}


footer {
  background-color: #FCD3DE;
  text-align: center;
  padding: 10px;
  font-size: 14px;
  bottom: 0;
  width: 100%;
  margin-top: 40px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}


@media (max-width: 768px) {
  main {
    flex-direction: column;
    align-items: center;
  }

  aside {
    width: 100%;
  }
}